<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Jasper Dudley | About Me</title>
        <link href="https://fonts.googleapis.com/css?family=Lora|Press+Start+2P|Cousine" rel="stylesheet">        
        <link rel="stylesheet" href="build/portfolio_site.min.css">
<!--        build out-->
        <link rel="stylesheet" href="slick-1.6.0/slick/slick.css">
        <link rel="stylesheet" href="slick-1.6.0/slick/slick-theme.css">
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="src/js/registration-effect.js"></script>
        <script src="src/js/template.js"></script>
<!--        build out-->
        <script type="text/javascript" src="slick-1.6.0/slick/slick.js"></script>

    </head>
    <body class="body-{{pageType}}">
        <div class="main-content">
            {{> header}}
            <div class="column-center">
                <div class="about-container">
                    <img class="about-image" src="img/self-portrait.jpg">
                    <div class="about-text-box">
                        <span class="about-text">
                            &emsp;&emsp;I aim, in my work, to lead viewers to question the relationships between color, volume, and time while exploring the possibilities of registration. Growing up as a digital native, I have forever been fascinated with the processes, the artifacts, and the peculiarities of analog mediums and how I can integrate them with modern technologies. In an increasingly software-driven art and design scene where CAD, dye sublimation, and Photoshop have all but replaced clay molds and cardboard prototypes, the hand methods of print media, and photographic forethought, I am forever searching for the bygone techniques of artisans to approach modern artistic problems from an otherwise overlooked perspective.<br><br>
                            &emsp;&emsp;Jasper Dudley (b. 1995, New York) is a practicing artist, designer, photographer, and printmaker. He is a BFA graduate of the University of Maryland Baltimore County. 
                        </span>
                    </div>
                </div>
            </div>
        </div>
        {{> footer}}
    </body>
</html>