<footer class="footer-container footer-container-{{footerType}}">
    <div class="footer-internal footer-internal-{{footerType}}">
        <span class="contact-info">
            Contact me: <br>
            <a href="mailto:jd13@umbc.edu">
                jd13@umbc.edu
            </a> <br>
            <a href="tel: 410-200-8979">
                410-200-8979
            </a>
        </span>
        <br><br>
        <span class="copyright-info">
            &copy; Jasper Dudley<br>Reed Trevelyan<br>2017
        </span>
    </div>
</footer>