{{#pageTypePrint}}

<div class="header-left">
    <div class="header-bar header-bar-print">
        <span class="inside-text inside-text-print">
            jasper
        </span>
        <nav class="inside-menu inside-menu-print">
            <span class="home-text home-text-print">
                home
            </span>
            <span class="pipe-text pipe-text-print">
                |
            </span>
            <span class="about-text about-text-print">
                about
            </span>
        </nav>
    </div>
    <div class="outside-text">
        <span class="header-fade-text header-fade-text-print">
            dudley
        </span>
    </div>
</div>

{{/pageTypePrint}}


{{#pageTypeDigital}}

<div class="outside-text">
    <span class="header-fade-text header-fade-text-digital">
        jasper
    </span>
</div>
<div class="header-right">
    <div class="header-bar header-bar-digital">
        <span class="inside-text inside-text-digital">
            dudley
        </span>
        <nav class="inside-menu inside-menu-digital">
            <span class="home-text home-text-digital">
                home
            </span>
            <span class="pipe-text pipe-text-digital">
                |
            </span>
            <span class="about-text about-text-digital">
                about
            </span>
        </nav>
    </div>
</div>
            
{{/pageTypeDigital}}