{{#pageTypePrint}}

<div class="header-left">
    <div class="header-bar header-bar-print">
        <span class="inside-text inside-text-print">
            jasper
        </span>
        <div class="inside-menu inside-menu-print">

        </div>
    </div>
    <div class="outside-text">
        <span class="header-fade-text header-fade-text-print">
            dudley
        </span>
    </div>
</div>

{{/pageTypePrint}}


{{#pageTypeDigital}}

<div class="outside-text">
    <span class="header-fade-text header-fade-text-digital">
        jasper
    </span>
</div>
<div class="header-right">
    <div class="header-bar header-bar-digital">
        <span class="inside-text inside-text-digital">
            dudley
        </span>
        <nav class="inside-menu inside-menu-digital">
            home
        </nav>
    </div>
</div>
            
{{/pageTypeDigital}}