{{#pageTypePrint}}

<div class="header-left">
    <div class="header-bar header-bar-print">
        <span class="inside-text inside-text-print">
            jasper
        </span>
        <nav class="inside-menu inside-menu-print">
            <a href="http://jasperdudley.com/">
                <span class="home-text home-text-print">
                    home
                </span>
            </a>
            <span class="pipe-text pipe-text-print">
                |
            </span>
            <a href="http://jasperdudley.com/about.html">
                <span class="about-text about-text-print">
                    about
                </span>
            </a>
        </nav>
    </div>
    <div class="outside-text">
        <span class="header-fade-text header-fade-text-print">
            dudley
        </span>
    </div>
</div>

{{/pageTypePrint}}


{{#pageTypeDigital}}

<div class="outside-text">
    <span class="header-fade-text header-fade-text-digital">
        jasper
    </span>
</div>
<div class="header-right">
    <div class="header-bar header-bar-digital">
        <span class="inside-text inside-text-digital">
            dudley
        </span>
        <nav class="inside-menu inside-menu-digital">
            <a href="http://jasperdudley.com/">
                <span class="home-text home-text-digital">
                    home
                </span>
            </a>
            <span class="pipe-text pipe-text-digital">
                |
            </span>
            <a href="http://jasperdudley.com/about.html">
                <span class="about-text about-text-digital">
                    about
                </span>
            </a>
        </nav>
    </div>
</div>
            
{{/pageTypeDigital}}