<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Jasper Dudley | {{projectTitle}}</title>
        
        <link rel="stylesheet" href="../../build/css/portfolio_site.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora|Press+Start+2P|Cousine">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
        <script src="../../build/js/single.min.js"></script>

    </head>
    <body class="body-{{pageType}}">
        <div class="main-content">
            {{> header}}
            <div class="column-center">
                <div class="project-container">
                    <div class="nw-registration nw-registration-{{pageType}}">
                        <img src="../../img/reg{{color1}}.png" class="registration-{{color1}}">
                        <img src="../../img/reg{{color2}}.png" class="registration-{{color2}}">
                        <img src="../../img/reg{{color3}}.png" class="registration-{{color3}}">
                    </div>
                    <div class="image-container {{multiContainer}}">
                        {{#carousel}}
                        <div class="magnific-wrapper">
                            <img class="project-image"
                                 src="../../{{imgSrc}}"
                                 href="../../{{HRimgSrc}}"
                                 alt="{{imgTitle}}"
                                 title="{{imgTitle}}">
                        </div>
                        {{/carousel}}
                        {{#iframeProject}}
                            <iframe class="{{iframeType}}" {{& iframeSource}}>
                            </iframe>
                        {{/iframeProject}}
                    </div>
                    {{#vimeoBuffer}}
                        <div class="vimeo-buffer"></div>
                    {{/vimeoBuffer}}
                    <div class="full-res-text-container">
                        <span class="full-res-text full-res-text-{{pageType}}">
                            Click for full resolution image
                        </span>
                    </div>
                    <div class="se-registration se-registration-{{pageType}}">
                        <img src="../../img/reg{{color1}}.png" class="registration-{{color1}}">
                        <img src="../../img/reg{{color2}}.png" class="registration-{{color2}}">
                        <img src="../../img/reg{{color3}}.png" class="registration-{{color3}}">
                    </div>
                    <span class="project-title project-title-{{pageType}} project-title-single">
                        {{projectTitle}}
                    </span>
                    <div class="description-buffer">
                    </div>
                    <div class="description-wrapper">
                        <span class="project-description project-description-{{pageType}}">
                           {{{projectDescription}}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        {{> footer}}
    </body>
</html>