@media (max-width: 480px) {
    .about-container {
        width: 100%; 
    }
    .about-image {
        width: 100%; 
    }
    .about-body-text {
       font-family: "Cousine", sans-serif;
        line-height: 9px;
        letter-spacing: 0.5px; 
        font-size: calc(9px + 0.8vw);
    }
}

@media (min-width: 480px) {
    .about-container {
        width: 480px;
    }
    .about-image {
        width: 480px;
    }
    .about-body-text {
        font-family: "Cousine", sans-serif;
        line-height: 13px;
        letter-spacing: 1px;
        font-size: calc(12px + 0.8vw);
    }
}

.column-center {
    width: 100%;
}

.about-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: calc(25px + 2.5vw);
}

.about-text-box {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 14px;
}
