body {
    min-width: 300px;
}

a, u {
    text-decoration: none;
}

.main-content {
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

#name-digital {
    font-family: 'Cousine', sans-serif;
    position: absolute;
    right: 0;
    margin-top: 3vh;
    margin-right: 1vw;
    letter-spacing: 5px;
    color: white;
    font-size: calc(12px + 0.8vw);
}

#name-print {
    font-family: 'Cousine', sans-serif;    
    position: absolute;
    margin-top: 3vh;
    margin-left: 1vw;
    letter-spacing: 5px;
    color: black;
    font-size: calc(12px + 0.8vw);
}

.left-content {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100vh;
    color: white;
    letter-spacing: -3px;
    background: rgba(36, 33, 38, 1);
    font-family: 'Press Start 2P', cursive;
    font-size: 3.5vw;
    z-index: 2;
    transition: background 0.5s ease;
}

.left-content div:hover {
    opacity: 1 !important;
}

.left-content-cover {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100vh;
    background: radial-gradient(circle, #312e34, #242126);
    z-index: 1;
}

.left-content:hover {
    background: rgba(36, 33, 38, 0.3);
    transition: background 0.5s ease;
}

.right-content {
    position: absolute;
    right: 0;
    background: rgba(239, 234, 231, 0);
    width: 50%;
    height: 100vh;
    font-family: 'Lora', serif;
    font-size: 6vw;
    letter-spacing: 0.1vw;
    z-index: 2;
    transition: background 0.5s ease;
}

.right-content div:hover {
    opacity: 1 !important;
}

.right-content-cover {
    position: absolute;
    right: 0;
    width: 50%;
    background: radial-gradient(circle, #e0d6cf, #efeae7);
    z-index: 1;
}

.right-content:hover {
    background: rgba(239, 234, 231, 1);
    transition: background 0.5s ease;
}

.center-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.centered-text {
    text-align: center;
    vertical-align: middle;
    line-height: 97vh;
    z-index: 1000 !important;
}

.floating-text {
    position: relative;
}

.floating-text div span {
    position: absolute;
    margin-top: -49.5vh;
}

#left-blend span {
    mix-blend-mode: screen;
}

#right-blend span {
    mix-blend-mode: multiply;
}

#red {
    color: #ff0000;
    z-index: 10;
}

#green {
    color: #00ff00;
    z-index: 20;
}

#blue {
    color: #0000ff;
    z-index: 30;
}

#cyan {
    color: #00ffff;
    z-index: 10;
}

#magenta {
    color: #ff00ff;
    z-index: 20;
}

#yellow {
    color: #ffff00;
    z-index: 30;
}
