/* TO DO: low-res preview, hi-res on mouseover 
    make floating, locked header split screen: partial black or white bar
    
*/

.body-digital {
    background-color: #242126 !important;
}

.body-print {
    background-color: #efeae7 !important;
}

@media (max-width: 944px) {
    .project-container .about-container {
        padding-top: calc(22px + 0.8vw);
        width: 100%; 
    }
    .project-image .about-image {
        width: 100%; 
    }
    .nw-registration {
        display: none;
    }
    .se-registration {
        display: none;
    }
    .slick-prev {
        display: none;
    }
    .slick-next {
        display: none;
    }
    .project-title {
        display: inline-block;
        margin-right: 15px;
    }
}

@media (min-width: 944px) and (max-width: 1000px) {
    .project-container .about-container {
        width: 944px;
    }
    .project-image .about-image {
        width: 100%;
    }
    .nw-registration {
        display: none;
    }
    .se-registration {
        display: none;
    }
    .slick-prev {
        display: none;
    }
    .slick-next {
        display: none;
    }
}

@media (min-width: 1000px) {
    .project-container .about-container {
        width: 944px;
    }
    .project-image .about-image {
        width: 100%;
    }
}

.image-container {
    z-index: 20;
}

.header-bar {
    position: fixed;
    width: 50vw;
    height: 8vh;
    z-index: 1000;
}

.header-bar-print {
    background-color: #242126;
}

.header-bar-digital {
    right: 0;
    background-color: #efeae7;
}

.inside-text {
    font-family: 'Cousine', sans-serif;
    margin-top: 3vh;
    letter-spacing: 5px;
    font-size: calc(12px + 0.8vw);
}

.inside-text-print {
    float: right;
    margin-right: 1vw;
    color: white;
}

.inside-text-digital {
    float: left;
    margin-left: 1vw;
    color: black;
}

.inside-menu {
    font-family: 'Cousine', sans-serif;
    margin-top: 3vh;
    letter-spacing: 5px;
    font-size: calc(12px + 0.8vw);
}

.inside-menu-print {
    float: left;
    margin-left: 1vw;
    color: white;
}

.inside-menu-digital {
    float: right;
    margin-right: 1vw;
    color: black;
}

.header-fade-text {
    font-family: 'Cousine', sans-serif;    
    position: absolute;
    margin-top: 3vh;
    letter-spacing: 5px;
    font-size: calc(12px + 0.8vw);
}

.header-fade-text-digital {
    right: 50vw;
    margin-right: 1vw;
    color: white;
}

.header-fade-text-print {
    left: 50vw;
    margin-left: 1vw;
    color: black;
}

.project-title {
    position: relative;
    float: right;
    text-align: right;
    font-family: 'Cousine', sans-serif;
    font-size: calc(12px + 0.8vw);
}

.project-title-digital {
    color: white;
}

.project-title-print {
    color: black;
}

.column-center {
    padding-top: 12vh;
    width: 100%;
}

.project-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: calc(25px + 2.5vw);
}

.iframe-soundcloud {
    height: 600px !important;
}

.vimeo-buffer {
    width: 100%;
    height: 30px;
}

.iframe-vimeo {
    width: 100% !important;
    height: 650px !important;
}

.nw-registration {
    height: 33px;
    width: 33px;
    position: relative;
    margin-left: -16px;
}

.nw-registration img {
    position: absolute;
    mix-blend-mode: multiply;
}

.se-registration {
    height: 33px;
    width: 33px;
    position: relative;
    margin-left: 960px;
    margin-top: -30px;
}

.se-registration img {
    position: absolute;
    mix-blend-mode: multiply;
}

.registration-cyan {
    fill: #00ffff;
}

.registration-magenta {
    fill: #ff00ff;
}

.registration-yellow {
    fill: #ffff00;
}