/* TO DO: low-res preview, hi-res on mouseover 
    make floating, locked header split screen: partial black or white bar
    
*/

body {
    background-color: #efeae7;
}

@media (max-width: 944px) {
    .project-container {
        width: 100vw; 
    }
    .project-image {
        width: 100%; 
    }
}

@media (min-width: 944px) and (max-width: 1000px) {
    .project-container {
        width: 944px;
    }
    .project-image {
        width: 100%;
    }
    .nw-registration img {
        display: none;
    }
    .se-registration img {
        display: none;
    }
}

@media (min-width: 1000px) {
    .project-container {
        width: 944px;
    }
    .project-image {
        width: 100%;
    }
}

.header-bar {
    position: fixed;
    width: 50vw;
    height: 8vh;
    background-color: #242126;
}

.inside-text {
    font-family: 'Cousine', sans-serif;
    float: right;
    margin-top: 3vh;
    margin-right: 1vw;
    letter-spacing: 5px;
    color: white;
    font-size: 1.5vw;
}

.header-fade-text {
    font-family: 'Cousine', sans-serif;    
    position: absolute;
    left: 50vw;
    margin-top: 3vh;
    margin-left: 1vw;
    letter-spacing: 5px;
    color: black;
    font-size: 1.5vw;
}

.project-title {
    float: right;
    text-align: right;
    margin-top: 7px;
    margin-right: 14px;
}

.column-center {
    padding-top: 12vh;
    width: 100vw;
}

.project-container {
    margin-left: auto;
    margin-right: auto;
}

.nw-registration {
    height: 33px;
    width: 33px;
    position: relative;
    margin-left: -33px;
}

.nw-registration img {
    position: absolute;
    mix-blend-mode: multiply;
}

.se-registration {
    height: 33px;
    width: 33px;
    position: relative;
    margin-left: 944px;
}

.se-registration img {
    position: absolute;
    mix-blend-mode: multiply;
}

.registration-cyan {
    fill: #00ffff;
}

.registration-magenta {
    fill: #ff00ff;
}

.registration-yellow {
    fill: #ffff00;
}