/* TO DO: low-res preview, hi-res on mouseover 
    make floating, locked header split screen: partial black or white bar
    
*/

body {
    background-color: #efeae7;
}

@media (max-width: 944px) {
    .project-container {
        width: 100vw; 
    }
    .project-image {
        width: 100%; 
    }
}

@media (min-width: 944px) and (max-width: 1000px) {
    .project-container {
        width: 944px;
    }
    .project-image {
        width: 100%;
    }
    .nw-registration img {
        display: none;
    }
    .se-registration img {
        display: none;
    }
}

@media (min-width: 1000px) {
    .project-container {
        width: 944px;
    }
    .project-image {
        width: 100%;
    }
}

.project-title {
    float: right;
    text-align: right;
    margin-top: 7px;
    margin-right: 14px;
}

.column-center {
    padding-top: 10vh;
    width: 100vw;
}

.project-container {
    margin-left: auto;
    margin-right: auto;
}

.nw-registration {
    height: 33px;
    width: 33px;
    position: relative;
    margin-left: -33px;
}

.nw-registration img {
    position: absolute;
}

.se-registration {
    height: 33px;
    width: 33px;
    position: relative;
    margin-left: 944px;
}

.se-registration img {
    position: absolute;
}